@page
@model StartRazorPages.Areas.Admin.Pages.Tenants.EditModel

@{ 
    ViewData["Title"] = "Edit tenant";
}

<h4>Tenant</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Tenant.Id" />
            <div class="form-group">
                <label asp-for="Tenant.Name" class="control-label"></label>
                <input asp-for="Tenant.Name" class="form-control" />
                <span asp-validation-for="Tenant.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.Host" class="control-label"></label>
                <input asp-for="Tenant.Host" class="form-control" />
                <span asp-validation-for="Tenant.Host" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tenant.ConnectionString" class="control-label"></label>
                <input asp-for="Tenant.ConnectionString" class="form-control" />
                <span asp-validation-for="Tenant.ConnectionString" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

