@page
@model StartRazorPages.Areas.Admin.Pages.Users.EditModel

@{ 
    ViewData["Title"] = "Edit user";
}

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ApplicationUser.TenantId" class="control-label"></label>
                <select asp-for="ApplicationUser.TenantId" class="form-control" asp-items="ViewBag.TenantId"></select>
                <span asp-validation-for="ApplicationUser.TenantId" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="ApplicationUser.Id" />
            <div class="form-group">
                <label asp-for="ApplicationUser.UserName" class="control-label"></label>
                <input asp-for="ApplicationUser.UserName" class="form-control" />
                <span asp-validation-for="ApplicationUser.UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApplicationUser.Email" class="control-label"></label>
                <input asp-for="ApplicationUser.Email" class="form-control" />
                <span asp-validation-for="ApplicationUser.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

